

:root {
  /* colors */
  --bg-primary-original: #3f3f3f;
  --bg-primary: var(--bg-primary-original);
  --bg-secondary-original: #3a3a3a;
  --bg-secondary: var(--bg-secondary-original);
  --wheel-diameter: 200px;
  --wheel-colour: var(--bg-primary);
  --best-guess: var(--bg-secondary);
  --answer: #ffffff;
  --colour: #ffffff;
  --lightness: 50;
  --hue: 200;
  --thumb-diameter: 25;
  --color-alpha: hsl(var(--hue), 100%, calc((var(--lightness) / 100 * 100%)));
  --color-dark: hsla(var(--hue), 3%, 25%, 0.75);
  --colour-slider: hsla(160, 95.2%, 32.4%, 0.75);
  --button-font-size: 10pt;
  --wheel-opacity: 1;
  --wheel-size: 100%;
  --picker-height-scalar: 0.33;

  /* fonts */
  --alpha-font-family: "IBM Plex Mono", monospace;

  /* borders */
  --border-radius: 4px;
  
   /* box shadow */
  --box-shadow: 0 0 0 1px rgba(0,0,0,.025), 0 1px 7px rgba(0, 0, 0, 0.25);

  /* transitions */
  --transition-duration: 0.1s;
  --transition-easing: ease-out;
}

body {
  background-color: var(--bg-primary);
  color: var(--colour);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  width: 100%;
	vertical-align: baseline;
  overflow: hidden;
  transition: background-color 2s, color 2s;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.button {
  font-size: var(--button-font-size);
  padding: 8px 15px;
  border-radius: 20px;
}

#guess-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
  justify-self: center;
}

.guess {
  display: flex;
  justify-content: center;
}

path {
  fill: var(--colour);
}

.path-button {
  background-color: transparent;
  border: 0;
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 6px;
  padding: 0;
}

.new-game-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
}

.game-icon {
  height: 32px;
  width: 32px;
}

.header-button {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  width: fit-content;
  margin-top: 4px;
}

.page-head {
  background-color: var(--bg-secondary);
  padding: 0.9%;
  box-shadow: 0 1px 5px -1px black;
  text-align: center;
  transition: background-color 2s;
  margin-bottom: 2%;
}

.logo {
  position: relative;
  src: "Images/Chromle-light.png";
  margin: 0;
  height: 40px;
}

.day-number {
  padding: 5px;
  margin-right: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  position: relative;
  font-weight: bold;
  text-align: center;
  float: left;
}

.guessing {
  display: inline;
  justify-content: center;
}

#colour-wheel {
  justify-self: center;
  width: var(--wheel-diameter);
  height: var(--wheel-diameter);
  background: radial-gradient(hsl(0, 0%, calc(var(--lightness) / 100 * 100%)), transparent 75%),
  conic-gradient(from 90deg, hsl(0, 100%, calc(var(--lightness) / 100 * 100%)), hsl(300, 100%, calc(var(--lightness) / 100 * 100%)), hsl(240, 100%, calc(var(--lightness) / 100 * 100%)), hsl(180, 100%, calc(var(--lightness) / 100 * 100%)), hsl(120, 100%, calc(var(--lightness) / 100 * 100%)), hsl(60, 100%, calc(var(--lightness) / 100 * 100%)), hsl(0, 100%, calc(var(--lightness) / 100 * 100%)));
  border-radius: 50%;
  outline-color: black;
  outline-width: 3px;
  outline-style: solid;
  margin-bottom: 20px;
}

#colour-picker-input {
  width: calc(var(--wheel-diameter) * 2);
  height: calc(var(--wheel-diameter) * var(--picker-height-scalar));
  border-radius: 5px;
  border-color: transparent;
  background-color: white;
}

.colour-picker {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.score-box {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.best-guess {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

.best-guess-text {
  padding-top: 7px;
}

.best-guess-svg {
  width: 50px;
  height: 50px;
}

.best-guess-rectangle {
  fill: var(--best-guess);
  stroke: black;
  stroke-width: 3px;
  width: 50px;
  height: 50px;
  transition: fill 2s;
}

.colour-text {
  padding: 15px;
  display: flex;
  justify-content: center;
  transition: color 2s;
}

.wheel {
  display: flex;
  justify-content: center;
  opacity: var(--wheel-opacity);
  max-width: var(--wheel-size);
  max-height: var(--wheel-size);
}

.circle-guess {
  display: flex;
  justify-content: center;
}

.results {
  color: var(--colour);
  background-color: var(--bg-secondary);
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px -2px black;
  text-align: center;
  padding-bottom: 13px;
  padding-top: 10px;
  transition: background-color 2s, color 2s;
}

#moves-box {
  max-height: 50px;
  padding-top: 5px;
}

#win-box {
  max-height: 0px;
  padding-top: 5px;
}

.wheel-slider {
  display: flex;
  justify-content: center;
  opacity: var(--wheel-opacity);
  max-width: var(--wheel-size);
  max-height: var(--wheel-size);
}

.c-range {
  position: relative;
  margin-bottom: 10px;
  width: calc(var(--wheel-diameter) * 1.75); /*calc(var(--wheel-diameter) / 1.3)*/
  /*max-width: var(--wheel-diameter);*/
  padding: 12px 24px;
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow);  
  border-radius: var(--border-radius);
  /*transform: rotate(270deg);*/
  transition: background-color 2s;
}

.c-range__holder {
  display: flex;
  align-items: center;
  position: relative;
}

.c-range__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: linear-gradient(to right, black 0%, white 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.c-range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--thumb-diameter) * 1px);
  height: calc(var(--thumb-diameter) * 1px);
  border-radius: 50%; 
  background: var(--colour-slider);
  cursor: pointer;
  transition: background 2s;
}

.c-range__slider::-moz-range-thumb {
  width: calc(var(--thumb-diameter) * 1px);
  height: calc(var(--thumb-diameter) * 1px);
  border-radius: 50%;
  background: var(--colour-slider);
  cursor: pointer;
}

.c-range__output {
  opacity: 0%;
  position: absolute;
  left: calc((var(--lightness) - 1.1) / 100 * 97.2%);
  transform: translate(calc((var(--lightness) / 100) * -50%), 0);
  width: calc(var(--thumb-diameter) * 1.2px);
  top: 35px;
  padding: 4px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--colour-slider);
  color: white;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  /*transform: rotate(90deg);*/
}

/* little triangle */
.c-range__output::before {
    content: "";
    transform: rotate(180deg);
    display: block;
    position: absolute;
    bottom: 24px;
    left: 10px;
    margin-left: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: var(--colour-slider) transparent transparent
      transparent;
}

/* Tutorial UI */

.tutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.tutorial[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa; /* black with some alpha */
  z-index: 3;
  opacity: 1;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.tutorial-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s, transform 0.25s;
  color: var(--colour);
}

.tutorial-window[data-reveal="1"] {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: opacity 0.25s, transform 0.25s;
}

.tutorial-title {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

.tutorial-row {
  text-align: center;
}

.tutorial-text {
  display:inline-block;
  position: relative;
  padding: 6px;
  padding-left: 2px;
  /*bottom: 6px;*/
  font-size: clamp(50%, 2.5vw, 100%);

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;   
  -o-user-select: none; 
}

.tutorial-close {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#tutorial-close-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
}

.tutorial-image {
  height: 25px;
  vertical-align: bottom;
  padding-bottom: 3px;
}

#square {
  filter: drop-shadow(0px 10000px 0 white);
  transform: translateY(-10000px);
}

#percent {
  filter: drop-shadow(0px 10000px 0 white);
  transform: translateY(-10000px);
}


/* Stats UI */

.stats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.stats[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa; /* black with some alpha */
  z-index: 3;
  opacity: 1;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.stats-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s, transform 0.25s;
  color: var(--colour);
  min-width: 160px;
}

.stats-window[data-reveal="1"] {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: opacity 0.25s, transform 0.25s;
}

.stats-title {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

.stats-row {
  display: flex;
  justify-content: center;
  padding: 3px;
  text-align: left;
}

.stats-close {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#stats-close-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
}


/* Settings UI */

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.settings[data-reveal="1"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000aa; /* black with some alpha */
  z-index: 3;
  opacity: 1;
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.settings-window {
  padding: 24px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  transition: background-color 2s;
  text-align: center;
  animation: zoom;
  animation-duration: 0.25s;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s, transform 0.25s;
  color: var(--colour);
  min-width: 160px;
}

.settings-window[data-reveal="1"] {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: opacity 0.25s, transform 0.25s;
}

.settings-title {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

.settings-row {
  display: flex;
  justify-content: center;
}

.settings-close {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#settings-close-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
}

#mode-button {
  color: #000;
  background-color: #fff;
  border: 1px solid #434343;
  margin-left: 5px;
}
